@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";

}

<style>
    .valueContainer {
        /* overflow-y: auto;
        overflow-x: auto;
            */
        word-break: break-all;
    }
</style>


<div class="text-left" style="width:98%">
    <h1 class="display-4">Utility App</h1>

    <hr />
    <H3>Headers</H3>
    <p>
        @foreach (String key in Request.Headers.Keys)
        {
            @if (key=="Cookie") {
                continue;
            }

            <label style="font-weight:bold;width:150px">@key :</label>
            <label class="valueContainer">@Request.Headers[key].ToString()</label><br />
        }

    </p>

    <h3>Cookies</h3>
    <p>
        @foreach (String key in Request.Cookies.Keys)
        {
            <label style="font-weight:bold;width:150px">@key :</label>
            <label class="valueContainer">@Request.Cookies[key].ToString() </label><br />
        }
    </p>
</div>
